.testimonials-section {
  width: 100%;
  padding: 64px 0 64px 0;
  background: linear-gradient(to bottom, #f9fafb 60%, #111827 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.8s cubic-bezier(0.4,0,0.2,1), transform 0.8s cubic-bezier(0.4,0,0.2,1);
}

.testimonials-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.testimonials-title{
  font-size: 2rem;
  font-weight: 700;
  color: #224161;
  margin-bottom: 48px ;
  font-family: 'Inter', Arial, sans-serif;
  text-align: center;
}

